<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="ErrorLog"
            xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} | ${message} ${when:when='${exception}'=='':inner=${newline}:else='| ${onexception:${exception:maxInnerExceptionLevel=10:format=tostring}${newline}'}"
            fileName="${basedir}/logs/${shortdate}/Errors.log"/>
    
    <target name="GeneralLog"
            xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} | ${uppercase:${level}} | ${message}${onexception:${newline}${exception:maxInnerExceptionLevel=10:format=tostring}${newline}"
            fileName="${basedir}/logs/${shortdate}/General.log"/>
  </targets>

  <rules>
    <logger name="*" levels="Error" writeTo="ErrorLog">
      <filters defaultAction='Log'>
        <when condition="contains('${message}','Отменена задача')" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" levels="Fatal" writeTo="ErrorLog"/>

    <logger name="*" minlevel="Trace" writeTo="GeneralLog"/>
  </rules>
</nlog>